.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.icon-myself {
    background-image: url(../assets/icons/myself.svg);
}

.icon-someone-else {
    background-image: url(../assets/icons/someone-else.svg);
}

.icon-info {
    background-image: url(../assets/icons/info.svg);
}