body {
    min-height: 50rem !important;
    background: red !important;
    display: flex;
}

header {
    background: #ffffff;
}

main {
    background: orange;
}

footer {
    background: #ffffff;
}